<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>왑키네이터</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>왑키네이터</h1>
      </div>
      <div id="content">
        <h2 style="margin-top:200px;">16학번 미만 화석입니까?</h2>
        <p><form action="question3" method="post">
          <button name="bool" class="button" type="submit" value=1 onclick="/question3">네</button>
          <button name="bool" class="button" type="submit" value=0 onclick="/question3">아니오</button>
          </form>
        </p>
      </div>
      <div id="sidebar">
        <img src="{{url_for('static', filename='아키네이터.jpg')}}" width="100%">
      </div>
    </div>
  </body>
</html>
<!--
    grade -> phase -> sex -> age-> major 순서
-->
