<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>왑키네이터</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>왑키네이터</h1>
    <div class="wrapper">
      <div style="position: relative;">
          <h2>
            <p>15학번 이상 화석입니까?
            <form action="question3" method="post">
            <button name="bool" class="button" type="submit" value=1 onclick="/question3">네</button>
            <button name="bool" class="button" type="submit" value=0 onclick="/question3">아니오</button>
            </form>
          </p></h2>
      </div>
      <div><img src="{{url_for('static', filename='아키네이터.jpg')}}"> </div>
    </div>
  </body>
</html>
<!--
    grade -> phase -> sex -> age-> major 순서
-->
