<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>왑키네이터</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>왑키네이터</h1>
    <div class="wrapper">
      <div style="position: relative;">
          <h2>
            <p>이름에 '정'이 들어갑니까?
            <form action="result" method="post">
            <button name="bool" class="button" type="submit" value=1 onclick="/result">네</button>
            <button name="bool" class="button" type="submit" value=0 onclick="/result">아니오</button>
            </form>
          </p></h2>
      </div>
      <div><img src="{{url_for('static', filename='아키네이터.jpg')}}"> </div>
    </div>
  </body>
</html>
